{% extends "layout.html" %}

{% block title %}
Home
{% endblock %}

{% block item %}
<li class="nav-item">
    <a class="nav-link active" aria-current="page" href="/matches">Guidance Entry</a>
</li>
{% endblock %}

{% block header %}
<h1>Welcome to Peer Tutoring Management System</h1>
{% endblock %}

{% block main %}
<h3>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. 
</h3>
{% endblock %}