<!DOCTYPE html>
<html lang="en">
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Peer Tutoring Management System</title>
        <link rel="stylesheet" href="static/styles.css">
        <link rel="icon" type="image/x-icon" href="static/image/favicon.ico"/>
    </head>
<body>
</body>
</html>

<div class="header">
    <nav>
        <div class="logo">
            <a href="/">
                <img src="static/image/logo.jpeg" alt="Logo" class="logo-img">
            </a>
        
            <h1>Peer Tutoring Management System</h1>
        <ul>
            <li><a href="/login">Guidance Entry</a></li>
        </ul>
    </nav>


 

    <div class="content">
        <h1 class="slide-left">Welcome</h1>
        <p class="slide-left">"Education is the most powerful weapon which you can use to change the world."<br>- Nelson Mandela. </p>
        <div class="links slide-left">
            <a href="/student_form" class="btn">Student Form</a>
            <a href="/tutor_form" class="btn">Tutor Form</a>
        </div>
        <p1 class="slide-left delay"> If you wish to be tutored, complete and submit the Student Form.<br>If you wish to become a tutor, complete and submit the Tutor Form.</p1>
    </div>

    <div class = "footer">
        <P>© MicroByte Inc. 2024</P>
    </div>
</div>




