{% extends "layout.html" %}

{% block title %}
Home
{% endblock %}

{% block item %}
<li class="nav-item">
    <a class="nav-link active" aria-current="page" href="/matches">Guidance Entry</a>
</li>
{% endblock %}

{% block header %}
<h1>Welcome to Peer Tutoring Management System</h1>
{% endblock %}

{% block main %}
<h3>"Education is the most powerful weapon which you can use to change the world." - Nelson Mandela. </h3>
{% endblock %}

{% block styles %}
<style>
    body {
        background-image: url('Tutoring.jpg');
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
    }
</style>
{% endblock %}
