<!DOCTYPE html>
<html lang="en">
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Student Form Submission</title>
        <link rel="stylesheet" href="static/styles.css">
        <link rel="icon" type="image/x-icon" href="static/image/favicon.ico"/>
    </head>
<body>
</body>
</html>

<div class="header">
    <nav>
        <div class="logo">
            <a href="/">
                <img src="static/image/logo.png" alt="Logo" class="logo-img">
            </a>
            <h1>Peer Tutoring<br>Management System</h1>
        </div>

    </nav>
</div>
    <div class="stuform">
        <form action="/submit_student_form" method="POST">
            <div class="form-group">
                <label for="full-name">Full Name</label>
                <input type="text" id="full-name" name="full_name" required>
            </div>
            
            <div class="form-group">
                <label for="email">Email Address</label>
                <input type="email" id="email" name="email" required>
            </div>
            
            <div class="form-group">
                <label for="phone">Phone Number</label>
                <input type="tel" id="phone" name="phone" required>
            </div>

            <div class="form-group">
                <label for="grade">Grade</label>
                <select id="grade" name="grade" required>
                    <option value="9">9</option>
                    <option value="10">10</option>
                    <option value="11">11</option>
                    <option value="12">12</option>
                </select>
            </div>
            
            <div class="form-group">
                <label for="period">What Period Works Best for You?</label>
                <select id="period" name="period" required>
                    <option value="p1">Period 1</option>
                    <option value="p2">Period 2</option>
                    <option value="p3">Period 3</option>
                    <option value="p4">Period 4</option>
                    <option value="p5">Period 5</option>
                    <option value="p6">After School</option>
                </select>
            </div>
            
            <div class="form-group">
                <label for="subject">Select The Course You Need Assistance With</label>
                <select id="subject" name="subject" required>
                    <option value="MAP4C">Foundations for College Mathematics 12 (MAP4C)</option>
                    <option value="MCR3U">Functions 11 University (MCR3U)</option>
                    <option value="MCF3M">Functions and Applications 11 University / College (MCF3M)</option>
                    <option value="MBF3C">Foundations for College Mathematics 11 (MBF3C)</option>
                    <option value="MPM2D">Principles of Mathematics 10 (MPM2D)</option>
                    <option value="MTH1W">Mathematics 9 (MTH1W)</option>
                    <option value="NBE3U">Understanding Contemporary First Nations 11 University (NBE3U)</option>
                    <option value="NBE3C">Understanding Contemporary First Nations 11 College (NBE3C)</option>
                    <option value="ENG2D">English 10 (ENG2D)</option>
                    <option value="ENL1W">English 9 (ENL1W)</option>
                    <option value="SPH3U">Physics 11 University (SPH3U)</option>
                    <option value="SCH3U">Chemistry 11 University (SCH3U)</option>
                    <option value="SBI3U">Biology 11 University (SBI3U)</option>
                    <option value="SBI3C">Biology 11 College (SBI3C)</option>
                    <option value="SNC2D">Science 10 (SNC2D)</option>
                    <option value="SNC12W">Science 9 (SNC1W)</option>
                    <option value="ICS3">Introduction to Computer Science (ICS3)</option>
                    <option value="ICD2O1">Digital Technology and Innovations in the Modern World 10 (ICD2O1)</option>
                    <option value="BAF3M1">Financial Accounting Fundamentals 11 University / College (BAF3M1)</option>
                    <option value="CHC2D1">Canadian History Since World War I 10 (CHC2D1)</option>
                    <option value="CGC1D1">Issues in Canadian Geography 9 (CGC1D1)</option>
                    <option value="FSF1">Core French 9 (FSF1)</option>


                    
                </select>
            </div>
            
            <div class="form-group">
                <button type="submit">Submit</button>
            </div>
        </form>
        
    </div>
    <div class = "footer">
        <P>© MicroByte Inc. 2024</P>
    </div>
    <script>
        // Get the current date
    const currentDate = new Date();
    const day = currentDate.getDate();
    const month = currentDate.getMonth() + 1; 

     // Modify content based on specific dates
     if ((month === 5 && day >= 1 && day <= 7)) {
        document.querySelector(".logo h1").innerHTML += "🍎";
    } else if ((month === 4 && day >= 14 && day <= 22)) {
        document.querySelector(".logo h1").innerHTML += "🌎"; 
    } else if ((month === 12 && day >= 25) || (month === 1 && day <= 7)) {
        document.querySelector(".logo h1").innerHTML += "🎄"; 
    } else if (month === 10 && day === 31) {
        document.querySelector(".logo h1").innerHTML += "🎃"; 
    } else if (month === 2 && day === 14) {
        document.querySelector(".logo h1").innerHTML += "❤️";
    } else if (month === 7 && day === 1) {
        document.querySelector(".logo h1").innerHTML += "🍁"; 
    } else if (month === 11 && day === 11) {
        document.querySelector(".logo h1").innerHTML += "🌺"; 
    } else if ((month == 2 && day != 14) && ((month === 1 && day >=21) || (month == 2 && day <=21))){
        document.querySelector(".logo h1").innerHTML += "🐉"; 
    } else if ((month === 3 && day >=19) || (month == 3 && day <=22)){
        document.querySelector(".logo h1").innerHTML += "💚🤍❤️"; 
    }
    </script>
</body>
</html>
