<!DOCTYPE html>
<html lang="en">
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Submission Received</title>
        <link rel="stylesheet" href="static/styles.css">
        <link rel="icon" type="image/x-icon" href="static/image/favicon.ico"/>
    </head>
<body>
</body>
</html>

<div class="header">
    <nav>
        <div class="logo">
            <a href="/">
                <img src="static/image/logo.jpeg" alt="Logo" class="logo-img">
            </a>
            <h1>Peer Tutoring<br>Management System</h1>
        </div>
        <ul>
            <li><a href="/">Return To The Main Page</a></li>
        </ul>
    </nav>

    <div class = "txt">
        <h1>Thank You!</h1>
        <P>We have sent you an email containing information in regards to your submission.</P>
    </div>

    <div class = "footer">
        <P>© MicroByte Inc. 2024</P>
    </div>
</div>